<header class="header js-header">
    <div class="main-menu">
        <div class="main-menu-preview">
            <span class="btn-menu js-menu"><i></i></span>
            <div class="menu-social">
                <ul>
                    <li class="vk"><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    <li class="li"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="sk"><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <nav class="main-menu-general js-menu-general">
            <ul class="js-slide-effect-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">About me</a></li>
                <li class="active"><a href="#">Portfolio</a></li>
            </ul>
            <div class="menu-feedback g-border-twain">
                <div class="menu-feedback-copy left js-slide-effect-left">
                    <p>&copy; 2016 - pashabos.info. All rights reserved.</p>
                </div>
                <div class="menu-feedback-contacts right js-slide-effect-right">
                    <p><a href="mailto:pashabos19@mail.ru">pashabos19@mail.ru</a></p>
                    <p><a href="tel:+38(066) 64-36-935">+38(066) 64-36-935</a></p>
                </div>
            </div>
        </nav>
    </div>
    <div class="header-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="about-photo">
                        <img src="images/portfolio.jpg" alt=""/>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="about-profession">
                        <h1>Front End Developer</h1>
                        <p>Who focuses on writing clean, elegant and efficient code.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- .header-->